@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

#play:hover {
    box-shadow: 3px 3px 3px 3px rgb(152, 115, 15);
}

#play:focus{

}

.container {
    text-align: center;
}

#background {
    background-image: url(./img/music.gif);
    background-position: 50% 100%;
}

#guess {
    width: 300px;
}

.top-list{
    text-align: center;
    
}