@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html {
    background: pink;

   
}

#play:hover {
    box-shadow: 3px 3px 3px 3px rgb(152, 115, 15);
}

#enter-button:hover {
    box-shadow: 3px 3px 3px 3px rgb(152, 115, 15);
}

.card {
    background: white;
}

#section {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.track {
    text-align: center;
}
.container {
    text-align: center;
}


#guess {
    width: 300px;
}

#second {
    text-align: center; 
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#section {
    text-align: center; 
}

#restart {
    display: none;
}

#restart:hover {
    box-shadow: 3px 3px 3px 3px rgb(152, 115, 15);
}

/* aside {
    padding: 40px
} */
/* .label {
    text-align: center;
    text-align: center;
    position: absolute;
    left: 46%;
    top: 40%;
}

.control {
    text-align: center; 
    text-align: center;
    position: absolute;
    left: 40%;
    top: 50%;
}

 